<h2>Product Details</h2>

<div *ngIf="product">
  <h3>{{ product.name }}</h3>

  <div *ngIf="product" [innerHTML]="product.description">
    <p>{{ product.description }}</p>
  </div>

  <strong>{{ product.price | currency:'EUR' }}</strong>

  <br />
  <button (click)="addToCart(product)">Buy</button>
</div>
