<h3>Cart</h3>
 
<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>
 
<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }} </span>
  <span>{{ item.price | currency: 'EUR' }}</span>
</div>
 
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
 
  <div>
    <label>Name</label>
    <input type="text" formControlName="name">
  </div>
 
  <div>
    <label>Address</label>
    <input type="text" formControlName="address">
  </div>
 
  <button class="button" type="submit">Purchase</button>
  
</form>