<h2>Products</h2>
 
<div *ngFor="let product of products; index as productId">

  <h3>
    <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]" [innerHTML]="product.name">
      {{ product.name }}
    </a>
  </h3>
 
  <p *ngIf="product.description" [innerHTML]="product.description">
    Description: {{ product.description }}
  </p>

  <p *ngIf="product.price">
    <strong>Prix: {{ product.price | currency:'EUR' }}</strong>
  </p>

<button (click)="share()">
  Share
</button>

<app-product-alerts
  [product]="product" 
  (notify)="onNotify()">
</app-product-alerts>

</div>